@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* *{margin:0; padding:0; box-sizing: border-box;} */

body {
    /* background-image: linear-gradient(45deg, #AAAAAA, #707070, #606060); */
    background-color: #F1F1F1;
    background-attachment: fixed;
}
/*
*{} - configurações globais do código CSS
*/
form {
    background-color: #FFFFFF;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family: "Open Sans", roboto;
}
p {
    font-family: "Open Sans", roboto;
    font-size: 13px;
    margin: 0px;
}
form h3 {
    text-align: center;
    color: #606060;
    font-family: "Open Sans", roboto;
    font-size: 26px;
    margin: 0px;
}
form input[type=text],
form input[type=password],
form input[type=email],
form select {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    outline: 0;
    border-radius: 10px;
}
form input[type=radio] {
    width: 30%;
    padding: 50px;
    cursor: pointer;
}
form input[type=radio]:checked {
    background-color: #606060;
}
form input[type=text]:focus,
form input[type=password]:focus ,
form input[type=email]:focus,
form select:focus {
    background-color: #FFFFFF;
    border: 1px solid;
}
form input[type=submit] {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: #808080;
    color: white;
    border: 0;
    border-radius: 10px;
    transition: 1s;
    font-size: 14px;
    font-family: "Open Sans", roboto;
}
form input[type=submit]:hover {
    background: #606060;
}
form #no-register {
    padding-top: 10px;
    float: right;
}
form #no-register a {
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", roboto;
}
